<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/app.css" media="screen" title="no title">
    <title>Who Is President?</title>
  </head>
  <body>
    <div id="president"><%= @president %></div>
  </body>
</html>
